<!-- Navbar -->
<!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page -->
<header class="header navbar navbar-expand-lg navbar-dark position-absolute navbar-sticky">
    <div class="container px-3">
        <a routerLink="/home" class="navbar-brand pe-3">
            <img src="../../../assets/img/logo/logo.svg" width="60" alt="Silicon">
            <div>
                <p class="mb-0" style="line-height: 18px; font-size: 1rem;">
                    Elias 360 Construction
                    <br>
                    <small class="text-muted">
                        Pools & Patios Corp
                    </small>
                </p>

            </div>
        </a>
        <div id="navbarNav" class="offcanvas offcanvas-end bg-dark">
            <div class="offcanvas-header border-bottom border-light">
                <h5 class="offcanvas-title text-white">Menu</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a routerLinkActive="active" routerLink="/home" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a routerLinkActive="active" routerLink="/works" class="nav-link">Works</a>
                    </li>
                    <li class="nav-item">
                        <a routerLinkActive="active" routerLink="/about" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a routerLinkActive="active" routerLink="/contact" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="offcanvas-header border-top border-light">
                <a class="btn btn-primary pointer w-100" rel="noopener" data-bs-toggle="modal" data-bs-target="#newEstimate">
                    <i class="bx bx-edit fs-4 lh-1 me-1"></i> &nbsp;Free Estimate
                </a>
            </div>
        </div>
        <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <a class="btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex" target="_blank" rel="noopener" data-bs-toggle="modal" data-bs-target="#newEstimate">
            <i class="bx bx-edit fs-5 lh-1 me-1"></i> &nbsp;Free Estimate
        </a>
    </div>
</header>

<!-- Modal with tabs and forms -->
<div class="modal fade" id="newEstimate" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <!-- Modal header with nav tabs -->
            <div class="modal-header">
                <h4>Free Estimate</h4>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal body with tab panes -->
            <div class="modal-body py-4">

                <!-- Sign in form -->
                <form class="needs-validation" autocomplete="off" [formGroup]="newForm" (ngSubmit)="create()">
                    <div class="mb-3">
                        <label class="form-label" for="name">Names</label>
                        <input [required]="validate('name')" formControlName="name" class="form-control" type="text" id="name" placeholder="Jhon Doe">
                        <div class="invalid-feedback" *ngIf="validate('name')">This text field is required</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="phone">Phone</label>
                        <input [required]="validate('phone')" formControlName="phone" class="form-control" type="tel" id="phone" placeholder="Your phone">
                        <div class="invalid-feedback" *ngIf="validate('phone')">This text field is required</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="email1">Email address</label>
                        <input [required]="validate('email')" formControlName="email" class="form-control" type="email" id="email1" placeholder="johndoe@example.com">
                        <div class="invalid-feedback" *ngIf="validate('email')">This text field is required</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="address">Address</label>
                        <input [required]="validate('address')" formControlName="address" class="form-control" type="text" id="address" placeholder="Your address">
                        <div class="invalid-feedback" *ngIf="validate('address')">This text field is required</div>
                    </div>

                    <div class="mb-4">
                        <label for="textarea-input" class="form-label">Description</label>
                        <textarea formControlName="description" class="form-control" id="textarea-input" rows="5">Describe what you want to do</textarea>
                    </div>

                    <button class="btn btn-primary d-block w-100" type="submit">Send</button>
                </form>

            </div>
        </div>
    </div>
</div>