<div class="bg-dark pt-5" style="padding-bottom: 228px;">

    <!-- Breadcrumb -->
    <nav class="container pt-5 pb-4 mb-lg-2" aria-label="breadcrumb">
        <ol class="breadcrumb pt-lg-3 mb-0">
            <li class="breadcrumb-item">
                <a routerLink="/home"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Works</li>
        </ol>
    </nav>


    <!-- Page title + Services grid -->
    <section class="container pb-2 pb-md-4 pb-lg-5 mb-3">
        <h1 class="pb-4 text-white">Works</h1>
        <div class="row row-cols-1 row-cols-md-2">

            <!-- Item -->
            <div class="col py-4 my-2 my-sm-3 bg-dark">
                <a style="background: rgba(255, 255, 255, 0.05);" class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 me-xl-2">
                    <div class="card-body pt-3">
                        <div class="d-inline-block bg-primary shadow-primary rounded-3 position-absolute top-0 translate-middle-y p-3">
                            <img src="../../../assets/img/iconos/piscina.webp" class="d-block m-1" width="40" alt="Icon">
                        </div>
                        <h2 class="h4 d-inline-flex align-items-center text-white">
                            Pools
                            <i class="bx bx-right-arrow-circle text-primary fs-3 ms-2"></i>
                        </h2>
                        <!-- <p class="fs-sm text-body mb-0">Nisi, dis sed cursus eget pellentesque mattis. Odio eu proin aliquam a. Semper bibendum tellus non tellus, facilisi dignissim in quam massa. Aliquam, feugiat ut cum tellus, sit. Quis consectetur gravida ac ac lectus cursus egestas.</p> -->
                    </div>
                </a>
            </div>

            <!-- Item -->
            <div class="col py-4 my-2 my-sm-3">
                <a style="background: rgba(255, 255, 255, 0.05);" class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 ms-xl-2">
                    <div class="card-body pt-3">
                        <div class="d-inline-block bg-primary shadow-primary rounded-3 position-absolute top-0 translate-middle-y p-3">
                            <img src="../../../assets/img/iconos/excavador.webp" class="d-block m-1" width="40" alt="Icon">
                        </div>
                        <h2 class="h4 d-inline-flex align-items-center text-white">
                            Excavation
                            <i class="bx bx-right-arrow-circle text-primary fs-3 ms-2"></i>
                        </h2>
                        <!-- <p class="fs-sm text-body mb-0">Id eget blandit sapien cras massa lectus lorem placerat. Quam dolor commodo fermentum bibendum dictumst. Risus pretium eget at viverra eget. Sit neque adipiscing malesuada blandit justo, quam.</p> -->
                    </div>
                </a>
            </div>

            <!-- Item -->
            <div class="col py-4 my-2 my-sm-3">
                <a style="background: rgba(255, 255, 255, 0.05);" class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 ms-xl-2">
                    <div class="card-body pt-3">
                        <div class="d-inline-block bg-primary shadow-primary rounded-3 position-absolute top-0 translate-middle-y p-3">
                            <img src="../../../assets/img/iconos/yarda.webp" class="d-block m-1" width="40" alt="Icon">
                        </div>
                        <h2 class="h4 d-inline-flex align-items-center text-white">
                            Patios
                            <i class="bx bx-right-arrow-circle text-primary fs-3 ms-2"></i>
                        </h2>
                        <!-- <p class="fs-sm text-body mb-0">Nunc, justo, diam orci, dictum purus convallis risus. Suscipit hendrerit at egestas id id blandit interdum est. Integer fames placerat turpis pretium quis hac leo lacus. Orci, dictum nunc mus quis semper eu bibendum enim, morbi.</p> -->
                    </div>
                </a>
            </div>

            <!-- Item -->
            <div class="col py-4 my-2 my-sm-3">
                <a style="background: rgba(255, 255, 255, 0.05);" class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 ms-xl-2">
                    <div class="card-body pt-3">
                        <div class="d-inline-block bg-primary shadow-primary rounded-3 position-absolute top-0 translate-middle-y p-3">
                            <img src="../../../assets/img/iconos/carro.webp" class="d-block m-1" width="40" alt="Icon">
                        </div>
                        <h2 class="h4 d-inline-flex align-items-center text-white">
                            Driveway
                            <i class="bx bx-right-arrow-circle text-primary fs-3 ms-2"></i>
                        </h2>
                        <!-- <p class="fs-sm text-body mb-0">Gravida eget euismod tempus diam dignissim quam. Dignissim magnis blandit faucibus convallis augue nisl, etiam. Feugiat ut molestie non arcu senectus sed. Diam pellentesque sit mattis nec amet varius nunc a sed.</p> -->
                    </div>
                </a>
            </div>
            <!-- Item -->
            <div class="col py-4 my-2 my-sm-3">
                <a style="background: rgba(255, 255, 255, 0.05);" class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 ms-xl-2">
                    <div class="card-body pt-3">
                        <div class="d-inline-block bg-primary shadow-primary rounded-3 position-absolute top-0 translate-middle-y p-3">
                            <img src="../../../assets/img/iconos/paisaje.webp" class="d-block m-1" width="40" alt="Icon">
                        </div>
                        <h2 class="h4 d-inline-flex align-items-center text-white">
                            Land Scape
                            <i class="bx bx-right-arrow-circle text-primary fs-3 ms-2"></i>
                        </h2>
                        <!-- <p class="fs-sm text-body mb-0">Gravida eget euismod tempus diam dignissim quam. Dignissim magnis blandit faucibus convallis augue nisl, etiam. Feugiat ut molestie non arcu senectus sed. Diam pellentesque sit mattis nec amet varius nunc a sed.</p> -->
                    </div>
                </a>
            </div>
            <!-- Item -->
            <div class="col py-4 my-2 my-sm-3">
                <a style="background: rgba(255, 255, 255, 0.05);" class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 ms-xl-2">
                    <div class="card-body pt-3">
                        <div class="d-inline-block bg-primary shadow-primary rounded-3 position-absolute top-0 translate-middle-y p-3">
                            <img src="../../../assets/img/iconos/cascada.webp" class="d-block m-1" width="40" alt="Icon">
                        </div>
                        <h2 class="h4 d-inline-flex align-items-center text-white">
                            Water falls
                            <i class="bx bx-right-arrow-circle text-primary fs-3 ms-2"></i>
                        </h2>
                        <!-- <p class="fs-sm text-body mb-0">Gravida eget euismod tempus diam dignissim quam. Dignissim magnis blandit faucibus convallis augue nisl, etiam. Feugiat ut molestie non arcu senectus sed. Diam pellentesque sit mattis nec amet varius nunc a sed.</p> -->
                    </div>
                </a>
            </div>
            <!-- Item -->
            <div class="col py-4 my-2 my-sm-3">
                <a style="background: rgba(255, 255, 255, 0.05);" class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 ms-xl-2">
                    <div class="card-body pt-3">
                        <div class="d-inline-block bg-primary shadow-primary rounded-3 position-absolute top-0 translate-middle-y p-3">
                            <img src="../../../assets/img/iconos/quitanieve.webp" class="d-block m-1" width="40" alt="Icon">
                        </div>
                        <h2 class="h4 d-inline-flex align-items-center text-white">
                            Snow Removal
                            <i class="bx bx-right-arrow-circle text-primary fs-3 ms-2"></i>
                        </h2>
                        <!-- <p class="fs-sm text-body mb-0">Gravida eget euismod tempus diam dignissim quam. Dignissim magnis blandit faucibus convallis augue nisl, etiam. Feugiat ut molestie non arcu senectus sed. Diam pellentesque sit mattis nec amet varius nunc a sed.</p> -->
                    </div>
                </a>
            </div>
            <!-- Item -->
            <div class="col py-4 my-2 my-sm-3">
                <a style="background: rgba(255, 255, 255, 0.05);" class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 ms-xl-2">
                    <div class="card-body pt-3">
                        <div class="d-inline-block bg-primary shadow-primary rounded-3 position-absolute top-0 translate-middle-y p-3">
                            <img src="../../../assets/img/iconos/muro.webp" class="d-block m-1" width="40" alt="Icon">
                        </div>
                        <h2 class="h4 d-inline-flex align-items-center text-white">
                            Retaining walls
                            <i class="bx bx-right-arrow-circle text-primary fs-3 ms-2"></i>
                        </h2>
                        <!-- <p class="fs-sm text-body mb-0">Gravida eget euismod tempus diam dignissim quam. Dignissim magnis blandit faucibus convallis augue nisl, etiam. Feugiat ut molestie non arcu senectus sed. Diam pellentesque sit mattis nec amet varius nunc a sed.</p> -->
                    </div>
                </a>
            </div>

        </div>
    </section>

    <!-- Contact form -->
    <section class="container">
        <div class="rounded-3 py-5 px-3 px-sm-4 px-lg-0" style="background: rgba(255, 255, 255, 0.05);">
            <div class="row align-items-center pt-1 pb-2 py-lg-4">
                <div class="col-xl-4 col-lg-5 col-md-6 offset-lg-1 mb-4 pb-3 mb-md-0 pb-md-0">
                    <h2 class="h1 mb-lg-4 text-white">Get in Touch</h2>
                    <p class="pb-2 pb-md-4 pb-lg-5">Have a project in mind? To request a quote contact us directly or fill out the form and let us know how we can help.</p>
                    <h3 class="mb-lg-4 text-white">Contact Info</h3>
                    <ul class="list-unstyled pb-3 pb-md-4 pb-lg-5 mb-2">
                        <li class="mb-2">
                            <a href="tel:6313554516" class="nav-link d-flex align-items-center p-0">
                                <i class="bx bx-phone-call fs-xl text-primary me-2"></i> (631) 355-4516
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="mailto:360construction.pools@gmail.com" class="nav-link d-flex align-items-center p-0">
                                <i class="bx bx-envelope fs-xl text-primary me-2"></i> 360construction.pools@gmail.com
                            </a>
                        </li>
                        <li class="mb-2">
                            <a class="nav-link d-flex align-items-center p-0">
                                <i class="bx bx-map fs-xl text-primary me-2"></i> BRENTWOOD, NEW YORK
                            </a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <a href="https://www.facebook.com/profile.php?id=100089447791609" class="btn btn-icon btn-outline-secondary btn-facebook me-3" aria-label="Facebook">
                            <i class="bx bxl-facebook text-white"></i>
                        </a>
                        <a href="https://www.instagram.com/elias360construction/" class="btn btn-icon btn-outline-secondary btn-instagram" aria-label="Instagram">
                            <i class="bx bxl-instagram text-white"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-5 col-md-6 offset-xl-1">
                    <div class="card border-0 shadow-sm p-sm-2" style="background: rgba(255, 255, 255, 0.05);">
                        <div class="card-body">

                            <form class=" needs-validation" novalidate autocomplete="off" [formGroup]="newForm" (ngSubmit)="create()">
                                <div class="mb-3">
                                    <label class="form-label text-white" for="name">Names</label>
                                    <input [required]="validate('name')" formControlName="name" style="color: #fff; background: rgba(255, 255, 255, 0.05);" class="form-control" type="text" id="name" placeholder="Jhon Doe">
                                    <div class="invalid-feedback" *ngIf="validate('name')">This text field is required</div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label text-white" for="phone">Phone</label>
                                    <input [required]="validate('phone')" formControlName="phone" style="color: #fff; background: rgba(255, 255, 255, 0.05);" class="form-control" type="tel" id="phone" placeholder="Your phone">
                                    <div class="invalid-feedback" *ngIf="validate('phone')">This text field is required</div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label text-white" for="email1">Email address</label>
                                    <input [required]="validate('email')" formControlName="email" style="color: #fff; background: rgba(255, 255, 255, 0.05);" class="form-control" type="email" id="email1" placeholder="johndoe@example.com">
                                    <div class="invalid-feedback" *ngIf="validate('email')">This text field is required</div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label text-white" for="address">Address</label>
                                    <input [required]="validate('address')" formControlName="address" style="color: #fff; background: rgba(255, 255, 255, 0.05);" class="form-control" type="text" id="address" placeholder="Your address">
                                    <div class="invalid-feedback" *ngIf="validate('address')">This text field is required</div>
                                </div>

                                <div class="mb-4">
                                    <label for="textarea-input" class="form-label text-white">Description</label>
                                    <textarea formControlName="description" style="color: #fff; background: rgba(255, 255, 255, 0.05);" class="form-control" id="textarea-input" rows="5">Describe what you want to do</textarea>
                                </div>

                                <button type="submit" class="btn btn-primary shadow-primary btn-lg">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>